<footer class="site-footer">

  <span class="site-copyright">&copy; {{ site.time | date: "%Y" }} {{ site.title }}</span>

  {% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}">
      Twitter
    </a>
  {% endif %}

  {% if site.facebook_username %}
    <a href="https://facebook.com/{{ site.facebook_username }}">
      Facebook
    </a>
  {% endif %}

  {% if site.google_username %}
    <a href="https://plus.google.com/{{ site.google_username }}">
      Google
    </a>
  {% endif %}

  <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>

</footer>
