<footer class="site-footer">

  &copy; {{ site.title }}

  {% if site.twitter_username %}
    twitter: <a href="https://twitter.com/{{ site.twitter_username }}">
      <span class="username">{{ site.twitter_username }}</span>
    </a>
  {% endif %}

  {% if site.facebook_username %}
    facebook: <a href="https://facebook.com/{{ site.facebook_username }}">
      <span class="username">{{ site.facebook_username }}</span>
    </a>
  {% endif %}

  {% if site.google_username %}
    google: <a href="https://plus.google.com/{{ site.google_username }}">
      <span class="username">{{ site.google_username }}</span>
    </a>
  {% endif %}

</footer>
