<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
</header>

<nav class="site-nav">
  {% for page in site.pages %}
    {% if page.title %}
    <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    {% endif %}
  {% endfor %}
  {% if site.specials.size %}
  {% assign special = site.specials | sort: "-date" | reverse | first %}
  <a class="page-link" href="{{ special.url | prepend: site.baseurl }}">Specials</a>
  {% endif %}
  <a class="page-link" disabled>Order Online</a>
</nav>
