<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
</header>

<nav class="site-nav">
  {% comment %}
  {% assign pages = site.pages | sort:'index' %}
  {% for page in pages %}
    {% if page.title %}
    <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    {% endif %}
  {% endfor %}
  {% if site.specials.size %}
  {% assign special = site.specials | sort: "-date" | reverse | first %}
  <a class="page-link" href="{{ special.url | prepend: site.baseurl }}">Specials</a>
  {% endif %}
	{% endcomment %}
  <a class="page-link" href="{{ site.baseurl }}/">Info</a>
  <a class="page-link" href="{{ site.baseurl }}/updates">Updates</a>
  <a class="page-link" href="{{ site.baseurl }}/media/menu/print.html">Menu</a>
  <a class="page-link" href="https://squareup.com/store/thewheelhouse">Order Online</a>
</nav>
