<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
</header>

<nav class="site-nav">
  {% for page in site.pages %}
    {% if page.title %}
    <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    {% endif %}
  {% endfor %}
  {% if site.specials.size %}
  <a class="page-link" href="{{ site.specials[0].url | prepend: site.baseurl }}">Specials</a>
  {% endif %}
  <a class="page-link" href="{{ site.baseurl }}">Order Online</a>
</nav>
{{ 'foo' | prepend: site.baseurl }}
